/* general */

:root {}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.debug {

    border: 1px solid red;
}

/* utility */

.d-flex {

    display: flex;
}

#flex-column {

    flex-flow: column wrap;
    align-items: center;

}

.m-right {

    margin-right: 15px;
}

.pd-article {

    padding: 30px;
}

.pd-for-bt {

    padding: 5px;
}


.pd-bot {

    padding-bottom: 15px;

}

.pd-top {

    padding-top: 50px;

}

.space-between {

    justify-content: space-between;
}

/* bg and text colors */

.bg-lightgrey {

    background-color: lightgrey;


}

/* header */

/* nav */

nav {

    max-width: 800px;

}

/* list */

ul {

    list-style: none;


}

ul li a {

    padding: 15px;
}

/* hero */

.hero {

    text-align: center;
    padding: 50px;

}

.hero p {

    padding-bottom: 15px;
}

/* main */


.container {

    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;


}

#reverse-content {

    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
}

#margin-top {

    margin-top: 30px;
}